<?xml version="1.0"?>
<SpaceWars>

	<server>
	</server>
	
	<client>
		<debug>false</debug>
		<fullscreen>true</fullscreen>
	</client>

	<buildings>
			
		<Relay>
			<name>Relay</name>
		</Relay>
	
		<Mine>
			<name>Mine</name>
			<energyConsum>1,6,7,8,9,10</energyConsum>
		</Mine>
		
		<SolarStation>
			<name>Solar</name>
		</SolarStation>		
		
		<LaserCanon>
			<name>Laser</name>
		</LaserCanon>
		
		<Shipyard>
			<name>Shipyard</name>
		</Shipyard>
		
	</buildings>
	
</SpaceWars>