<?xml version="1.0"?>
<SpaceWars>

	<server>
		<minPlayers>4</minPlayers>
		<dummyPlayers>true</dummyPlayers>
	</server>

	<client>
		<debug>false</debug>
		<fullscreen>true</fullscreen>
		<scrollSlowing>5</scrollSlowing>
		<changePlayer>true</changePlayer>
	</client>

	<network>
		<port>2222</port>
		<registryName>spacewars_server</registryName>
	</network>

	<buildings>
		<buildEnergyConsum>2</buildEnergyConsum>

		<Homebase>
			<name>Home Planet</name>
			<size>40</size>
			<view>100</view>
			<health>10000</health>
			<costs>200</costs>
			<levels>0</levels>
			
			<energyProduction>1</energyProduction>
			<energyCapacity>10</energyCapacity>
			<productionFrequency>3.0</productionFrequency>
		</Homebase>

		<Relay>
			<name>Relay</name>
			<size>5</size>
			<view>100</view>
			<health>100</health>
			<costs>20</costs>		
			<levels>1</levels>
		</Relay>

		<Mine>
			<name>Mine</name>
			<size>10</size>
			<view>100</view>
			<health>100,500</health>
			<costs>45,100</costs>
			<levels>2</levels>
			
			<energyConsum>1</energyConsum>
			<miningRate>80,200</miningRate>
			<miningFrequency>0.3</miningFrequency>
		</Mine>

		<Solar>
			<name>Solar</name>
			<size>15</size>
			<view>100</view>
			<health>600,800,1000</health>
			<costs>200,200,200</costs>
			<levels>3</levels>
			
			<energyProduction>4,6,8</energyProduction>
			<energyCapacity>10,20,30</energyCapacity>
			<productionFrequency>3.0</productionFrequency>
		</Solar>

		<Laser>
			<name>Laser</name>
			<size>10</size>
			<view>100</view>
			<health>200,300,500</health>
			<costs>100,100,150</costs>
			<levels>3</levels>
			
			<laserRange>150,250,400</laserRange>
			<laserPower>3,4,5</laserPower>
			<laserFrequency>4,6,8</laserFrequency>
		</Laser>

		<Shipyard>
			<name>Shipyard</name>
			<size>20</size>
			<view>100</view>
			<health>500,550,600</health>
			<costs>400,500,1000</costs>
			<levels>3</levels>
			
			<shipProductionTime>8,7,6</shipProductionTime>		
		</Shipyard>

	</buildings>
	
	<ships>
		<Ship>
			<size>5</size>
			<view>100</view>
			<health>30</health>
			<attackPower>1</attackPower>
			<attackFrequency>6</attackFrequency>
		</Ship>
	</ships>
	
	<planets>	
		<MineralPlanet>
			<maxMineralCapacity>100</maxMineralCapacity>
		</MineralPlanet>	
	</planets>
	
	<players>
		<color1>#3377ff</color1>
		<color2>#ff3333</color2>
		<color3>#ff33ff</color3>
		<color4>#ffff33</color4>
	</players>

</SpaceWars>